<!DOCTYPE html>
<html>
<head>
  <title>Jedi Seminar</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id="header">

  <h1 id="headertext"></h1>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyIK9eGcVWxzIrrduVfUj8CU7KHlIfxShewXVbMnmoaRB1JVRv">

</div>
<div class="wrapper">
  <%= yield %>
</div>
</body>
</html>