<h1>Welcome to Terrance's Jedi Mind Tricks Seminar. Register Below with email:</h1>
<form method="post" action="/register">
  <ul>
    <li>
      <label for="email">email</label>
      <input type="text" name="email" id="email"/>
    </li>
    <li>
      <input type="submit" value="Register" />
    </li>
  </ul>
</form>